
h1{
  font-weight: 600;
  font-variant: small-caps;
  font-family: sans-serif;
  color: Black;
  padding: 10px;
  text-align: center;
  border: 10px solid White;

}

p{
  text-align: center;
  border: 50px solid Chartreuse;
}
a{
color: Green;
}

div{
  border: 5px solid White;
}
body{
  background-color: Chartreuse;
}
